.modal-testsubmission {
  background-color: #fefbe7;
}
.testsubmission-content button {
  width: 100%;
  background-color: #156064;
  color: whitesmoke;
  height: 2em;
  border-radius: 4px;
  font-weight: bold;
}
.testsubmission-content button:hover {
  background-color: #24b2b9;
  color: white;
}
.testsubmission-content button:disabled {
  cursor: not-allowed;
  background-color: #156064b8;
}
.testsubmission-content ul {
  margin: 0;
  padding-left: 20px;
}
.testsubmission-content li {
  line-height: 1.5em;
}
.testsubmission-client {
  display: flex;
  margin-bottom: 1em;
}
.testsubmission-config-label {
  font-weight: bold;
  cursor: help;
}
.testsubmission-client-label {
  font-weight: bold;
}
.testsubmission-client-status {
  display: flex;
  align-items: center;
}
.testsubmission-client-status-indicator {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}
.testsubmission-options {
  display: flex;
  justify-content: space-between;
}
.testsubmission-options button {
  width: 45%;
}
