.configform-input-label {
    font-weight: bold;
}
.configform-error {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}
.configform-save {
    margin: 2em 0;
}
.configform-save-error {
    text-align: center;
}
.configform-save > button {
    border: none;
    border-radius: 4px;
    background-color: #156064;
    color: whitesmoke;
    height: 2em;
    width: 100%;
    font-weight: bold;
}
.configform-save > button:hover {
    background-color: #24b2b9;
    color: white;
}
.configform-runloop {
    display: flex;
}
.configform-runloop-dependent {
    border-left: 2px solid #156064;
    width: 70%;
    margin-left: 1em;
    padding-left: 1em;
}
