button {
  cursor: pointer;
}
.app {
  height: 100vh;
}
.app-content {
  display: flex;
  height: 100%;
  flex: auto;
}
.pending-overlay {
  z-index: 100;
  position: absolute;
  background-color: #8080808a;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pending-overlay > img {
  height: 5em;
}
