button.unset {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
a.unset {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
.app {
  height: 100vh;
}
.app.pending-overlay-enabled {
  overflow: hidden;
}
.pending-overlay {
  z-index: 100;
  position: absolute;
  background-color: var(--c-neutral);
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.pending-overlay > img {
  height: 5em;
}
.status-ready {
  background-color: var(--c-success);
}
.status-pending {
  background-color: var(--c-warning);
}
a.navigation {
  border: none;
  border-radius: 4px;
  background-color: var(--c-primary-dark);
  color: var(--c-neutral-lightest);
  font-weight: bold;
  padding: 0.5em 1em;
}
a.navigation:hover {
  background-color: var(--c-primary);
  color: var(--c-neutral-lightest);
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.67em;
}
.page-header h1 {
  align-items: center;
  margin: 0;
  display: flex;
}
.page-header h1 > button.refresh {
  margin-right: 0.3em;
  display: flex;
  align-items: center;
}
.card {
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  padding: 1em;
  background-color: var(--c-primary-dark);
  color: var(--c-neutral-lightest);
  font-weight: bold;
  text-align: left;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card:hover {
  background-color: var(--c-primary);
  color: var(--c-neutral-lightest);
}
.card-key {
  color: var(--c-primary-light);
}
.card:hover .card-key {
  color: var(--c-primary-dark);
}
