.clientdetails {
  flex: auto;
  padding: 6px 2em;
  font-weight: bold;
  overflow: auto;
}
.clientdetails-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.clientdetails-header h1 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.clientdetails-header svg:hover {
  cursor: pointer;
}
.clientdetails-header-exit {
  border: none;
  border-radius: 4px;
  background-color: var(--c-primary-dark);
  color: var(--c-neutral-lightest);
  font-weight: bold;
}
.clientdetails-header-exit:hover {
  background-color: var(--c-primary);
  color: var(--c-neutral-lightest);
}
.clientdetails-sectiontitle {
  margin-bottom: 0.2em;
}
.clientdetails-key {
  color: var(--c-primary-dark);
}
.clientdetails-status {
  display: flex;
  align-items: center;
}
.clientdetails-status-indicator {
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
}
