#configpath {
  width: 100vw;
  padding-top: 148px;
  padding-left: 10px;
  display: flex;
}  
.configs {
    height: 100%;
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 173px;
    overflow-y: auto;
    padding: 5px 10px 5px 5px;
    color: #424242;
  }
  hr.horizontal1 {
    width: 100vw;
    height: 0px;
    border: 1px solid gray;
    position: absolute;
    top: 179px;
  }
  hr.horizontal2 {
    width: 100vw;
    height: 0px;
    border: 1px solid gray;
    position: absolute;
    top: 250px;
  }
  .configs h1 {
    padding-left: 10px;
  }
  .configs ul {
    padding: 0;
  }
  .configs li {
    padding: 6px 40px 6px 40px;
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    display: flex;
    list-style-type: none; 
  }
  hr.vertical {
    border: 1px solid gray;
    height: 100%;
    width: 0;
    left: 617px;
    top: 179px;
    overflow: hidden;
    position: absolute;
  }
  button.configslist {
    background-color: #616161;
    border: 3px solid #424242;
    color: #e0e0e0;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 300px;
  }
  button.configslist:hover {
    background-color: #9e9e9e;
  }
  button.configslist.selected {
    background-color: #bdbdbd;
    color: #3685ad;
    border: 3px solid #607d8b;
  }
  .loadtests {
    height: 100%;
    width: 100vw;
    z-index: 1;
    padding-left: 320px;
    overflow-y: auto;
    color: #424242;
    margin-top: -22px;
  }
  .loadtests ul {
    padding: 0;
  }
  .loadtests li {
    padding: 6px 40px 6px 40px;
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    display: flex;
    list-style-type: none; 
  }