.configs {
  flex: auto;
  padding: 6px 2em;
  font-weight: bold;
  overflow: auto;
}
.configs button.configs-newitem {
  margin-left: 0.3em;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--c-primary-dark);
}
button.configs-newitem:hover {
  color: var(--c-primary-light);
}
.configs-item-options {
  display: flex;
  align-items: center;
}
.configs-item-options > button.runtest {
  margin-left: 0.4em;
}
