.resultsoverview {
  flex: auto;
  padding: 6px 2em;
  font-weight: bold;
  overflow: auto;
}
.resultsoverview-item-counts {
  min-width: 240px;
}
.resultsoverview-item-counts > div {
  display: flex;
  justify-content: space-between;
}
.resultsoverview-item-details {
  width: 750px;
}
.resultsoverview-item-options {
  display: flex;
  align-items: center;
}
