.clients > h1 {
  margin: 0;
  margin-top: 0.67em;
}
.clients > h3 {
  margin: 0;
  margin-bottom: 1em;
}
.clients-notification {
  font-weight: bold;
}
.clients-item {
  border-radius: 4px;
  color: var(--c-neutral-lightest);
  display: flex;
  margin: 6px 0;
  padding: 0.5em;
}
.clients-item:hover,
.clients-item.selected {
  background-color: var(--c-primary);
}
.clients-item-select {
  align-items: center;
  background-color: inherit;
  border: none;
  display: flex;
  padding: 0.5em;
}
.clients-item-status {
  background-color: inherit;
  border: none;
  color: var(--c-neutral-lightest);
  font-weight: bold;
  flex-grow: 1;
  text-align: right;
}
