.clients > h1 {
  margin: 0;
  margin-top: 0.67em;
}
.clients > h3 {
  color: var(--c-primary-dark);
  margin: 0;
  margin-bottom: 1em;
}
.clients-notification {
  font-weight: bold;
}
.clients-item {
  display: flex;
  margin: 6px 0;
}
.clients-item-select {
  width: 90%;
  border: none;
  border-radius: 4px;
  padding: 1em;
  background-color: var(--c-primary-dark);
  color: var(--c-neutral-lightest);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  overflow-wrap: anywhere;
}
.clients-item-select-icon {
  height: 1em;
}
.clients-item-select > svg {
  margin-left: 6px;
}
.clients-item-select:hover {
  background-color: var(--c-primary);
  color: var(--c-neutral-lightest);
}
.clients-item-status {
  width: 10%;
  border-radius: 4px;
  border: none;
  color: var(--c-neutral-lightest);
  font-weight: bold;
}
.clients-item-status:hover,
.clients-item-status.selected {
  background-color: var(--c-primary);
}
