:root {
  --c-primary-light: #1a98ff;
  --c-primary: #0071ce;
  --c-primary-dark: #003e9b;

  --c-neutral-lightest: #fff;
  --c-neutral-light: #ccc;
  --c-neutral: #888;
  --c-neutral-dark: #555;
  --c-neutral-darkest: #222;

  --c-success: #4aa54c;
  --c-info: #29b6f6;
  --c-warning: #d68100;
  --c-error: #f44336;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--c-neutral-lightest);
  color: var(--c-primary-dark);
}
