.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-y: auto;
    padding: 5px 10px 5px 0px;
  }
  .header {
    text-align: left;
    background: #212121;
    color: #eeeeee;
    font-size: 20px;
    padding-left: 10px;
  }
  .sidenav ul {
    padding: 0;
  }
  .sidenav li {
    padding: 6px 5px 6px 32px;
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    display: flex;
  }
  hr {
    border-color: gray;
    width: 305px;
  }
  .divider {
    width: 1px;
    background-color: gray;
    margin-left: 75px;
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
  }
  button.loadclient {
    background-color: #616161;
    border: 3px solid #424242;
    color: #e0e0e0;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  button.loadclient:hover {
    background-color: #9e9e9e;
  }
  button.loadclient.selected {
    background-color: #bdbdbd;
    color: #3685ad;
    border: 3px solid #607d8b;
  }
  button.load-client-status {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    text-align: center;
    margin-top: 17px;
  }
  button.load-client-status.ready {
    background-color: #04aa04;
  }
  button.load-client-status.unresponsive {
    background-color: #c8cac8;
    }
  button.load-client-status.busy {
      background-color: #e90606c4;
    }
  #filter {
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 720px) {
      html {
        overflow: hidden;
      }
    }