.result {
  padding: 6px 2em;
  line-height: 1.5em;
}
.result th {
  text-align: left;
}
.result-column-spaced {
  padding-right: 2em;
}
.result-section {
  width: calc(100% - 2em);
  margin-top: 2em;
  border: solid 2px;
  border-radius: 4px;
  padding: 1em;
}
.result-item-label {
  font-weight: bold;
}
.result ul {
  margin: 0;
  padding-inline-start: 2em;
}
.result-client:not(:last-child) {
  margin-bottom: 2em;
}
