.result {
  padding: 6px 2em;
  line-height: 1.5em;
}
.result-section {
  display: flex;
  margin-top: 2em;
  border: solid 2px;
  border-radius: 4px;
  padding: 1em;
}
.result-section > div {
  margin-right: 1.5em;
  padding-right: 1.5em;
  border-right: solid 1px;
}
.result-section > div:first-of-type {
  font-weight: bold;
}
.result-section > div:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}
.result-item {
  display: flex;
  justify-content: space-between;
}
.result-item > span:first-of-type {
  margin-right: 1em;
}
.result-item-value {
  font-weight: bold;
}
.result ul {
  margin: 0;
  padding-inline-start: 1em;
}
